<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketingReservationSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TicketingReservationSys.Properties.Settings>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="Timing" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Movie" serializeAs="String">
                <value />
            </setting>
            <setting name="Stdseats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vipseats" serializeAs="String">
                <value>0</value>
            </setting>
        </TicketingReservationSys.Properties.Settings>
    </userSettings>
</configuration>